* {
    padding: 0em;
    margin: 0em;
}
body {
    background: url(../fondoApp.jpg);
    background-size: cover;
    background-attachment: fixed;  
    
}
.App {
    min-height: 100vh;
}
p{
    color: white;
}
a{
    color: white;
}
.col-sm-4 {
    background-color: rgb(70, 78, 74);
    padding: 1em;
    border-radius: 2em;
    width: 20em;
    height: 30em;
}
.btn-success {
    justify-content: center;
    align-items: center;
}
img {
    width: 5em;
    height: 5em;
    justify-content: center;
    align-self: center;
    border-radius: 1em;
}
